@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --primary-text-color: #202020;
    --secondary-text-color: #90A3BF;
    --primary-blue-train: #0578FF;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

a {
    text-decoration: none;
}

body {
    background-color: #ececec;
}

.input-container {
    display: flex;
    flex-direction: column;
    max-width: 400px;
}

.input-container label {
    font-size: 1rem;
    line-height: 150%;
    font-weight: 600;
    color: var(--primary-text-color);
    margin-bottom: 16px;
}

.input-container input {
    border: none;
    padding: 16px 24px;
    border-radius: 10px;
    font-size: 0.875rem;
    line-height: 150%;
    font-weight: 500;
}

.input-container input::placeholder {
    color: var(--secondary-text-color);
}

.input-container input:focus {
    outline: 2px solid var(--secondary-text-color);
}

.autocomplete-dropdown {
    margin-top: 12px;
    list-style-type: none;
    padding: 12px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 2px;
    color: var(--primary-text-color);
    animation: dropdownAppear 0.1s ease-in-out;
}

.autocomplete-dropdown li {
    padding: 4px 12px;
    font-size: 0.875rem;
    line-height: 150%;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
}

.autocomplete-dropdown li:hover {
    background-color: var(--secondary-text-color);
    color: white;
}

.hidden {
    display: none;
}

.not-found-span {
    font-size: 0.875rem;
    color: var(--secondary-text-color);
}

@keyframes dropdownAppear {
    from {
        opacity: 0;
        transform: translateY(-10px) scale(0.97);
    }
    to {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}

/*HEADER*/

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 32.5px;
    padding-bottom: 32.5px;
    gap: 96px;
}

.container {
    max-width: 1440px;
    padding-inline: 64px;
    margin-inline: auto;
}

.header-logo-image {
    width: 73px;
}

.header-logo-text {
    font-size: 2.125rem;
    color: var(--primary-text-color);
}

.header-logo-and-text {
    display: flex;
    align-items: center;
    gap: 15px;
}

.header-navigation {
    display: flex;
    gap: 96px;
    align-items: center;
    flex-wrap: wrap;
}

.header-navigation a {
    color: var(--primary-text-color);
    font-size: 1.25rem;
    transition: color 0.2s cubic-bezier(0, 0, 0.2, 1);
}

.header-navigation a:hover {
    color: var(--primary-blue-train);
}

.header-navigation .bold-link {
    font-weight: 600;
}

.burger-icon {
    /*display: flex;*/
    flex-direction: column;
    padding-top: 2px;
    padding-bottom: 2px;
    gap: 7px;
    display: none;
    cursor: pointer;
}

.burger-icon .line1 {
    width: 30px;
    height: 2px;
    background-color: var(--primary-blue-train);
}

.burger-icon .line2 {
    width: 16px;
    height: 2px;
    background-color: var(--primary-blue-train);
}

.burger-icon .line3 {
    width: 30px;
    height: 2px;
    background-color: var(--primary-blue-train);
}

.burger-menu {
    height: calc(100vh - 116px);
    background-color: var(--primary-blue-train);
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
}

.burger-menu nav {
    margin-top: 128px;
    display: flex;
    flex-direction: column;
    gap: 96px;
    padding-inline: 32px;
}

.burger-menu nav a {
    color: white;
    font-size: 3rem;
}

@media screen and (max-width: 1200px) {
    .header-navigation {
        gap: 32px;
    }
}

@media screen and (max-width: 768px) {
    .container {
        padding-inline: 32px;
    }

    .burger-icon {
        display: flex;
    }

    .header-navigation {
        display: none;
    }
}

@media screen and (max-width: 360px) {
    .burger-menu nav {
        margin-top: 64px;
        gap: 64px;
    }
    .burger-menu nav a {
        font-size: 2rem;
    }
}

.hidden {
    display: none;
}
